{% extends 'base.html.twig' %}
{% use '/account/_layout_menu.html.twig' %}

{% block title %}Snow Tricks {% endblock %}
{% block header %}
    <!-- Header -->
{% endblock %}

{% block content %}

    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                {% block menu %}
                    {{ parent() }}
                {% endblock %}
                <div class="col-md-9  col-sm-12 mb-5" style="margin: auto;">
                    <div class="card">
                        <div class="media-body ">
                            <div class="card-body">
                                <div class="card-text">
                                    <h3 class="mb-4 mt-2">Bibliothèque de photos</h3>
                                    <div class="form-group">
                                        {{ form_start(form) }}
                                        {{ form_row(form.alt) }}
                                        {{ form_row(form.file) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-success float-right mb-3">Sauvegarder
                                    </button>
                                </div>
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="media-body ">
                    <div class="card-body">
                        <div class="card-text mb-3">
                            <div class="form-group">
                                <h4>Vos Images</h4>
                                <div class="container mt-3" style="height:400pt;overflow:auto">
                                    <div class="row">
                                        {% for picture in pictures %}
                                            <div class="col-md-3 col-sm-5 mb-3 pictureparent"
                                                 data-idpicture="{{ picture.id }}"
                                                 data-link="{{ path('delete_picture', {'id': picture.id}) }}">
                                                <div class="card">
                                                    <img class="card-img-top"
                                                         src="{{ asset('uploads/pictures/'~picture.name) }}"
                                                         alt="{{ picture.alt }}">
                                                    <div class="card-body">
                                                        <p>{{ picture.alt }}</p>

                                                        <button class="btn btn-danger suppr-picture float-right">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                        <div class="modal" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" style="margin-top: 100px; display: none;"
                                                 role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Comfirmer votre action</h5>
                                                        <button type="button" class="close close-spe"
                                                                data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Voulez-vous supprimer votre image id:
                                                            <spam class="info-data"></spam>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="link-delete" href="">
                                                            <button type="button" class="btn btn-primary">
                                                                supprimer
                                                            </button>
                                                        </a>
                                                        <button type="button" class="btn btn-secondary close-spe"
                                                                data-dismiss="modal">Annuler
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            //Comfirmation de supprétion(Boutton 'OUI' ou 'NON' )
            $('.suppr-picture').click(function () {

                var idData = $(this).parents('.pictureparent').data('idpicture');
                $('.info-data').text(idData);

                var idLink = $(this).parents('.pictureparent').data('link');

                $('.link-delete').attr('href', idLink);

                $('.modal').fadeIn(500, function () {

                    $('.modal-dialog').slideDown(300);

                });
                // Fermeture
                $('.close-spe').click(function () {

                    $('.modal').fadeOut(500);
                    $('.modal-dialog').hide();

                });
            })
        });
    </script>
{% endblock %}