{% extends 'base.html.twig' %}

{% block title %}Snow Tricks {% endblock %}
{% block header %}
    <!-- Header -->



{% endblock %}

{% block content %}

    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="card">
                <div class="row ">
                    <div class="col-md-12 mb-2">
                        <header class="masthead card-img-top"
                                style=" background-image: url('https://via.placeholder.com/550');">
                            <div class="intro-text">
                                <div class="intro-lead-in">Ajouter un trick</div>
                                <span>Fomulaire</span>
                            </div>
                        </header>
                    </div>
                </div>

                <div class="media-body ">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="form-group">
                                {{ form_start(form) }}
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                        <div class="card-text">
                            <div class="form-group">
                                {{ form_label(form.content) }}
                                {{ form_widget(form.content) }}
                            </div>
                        </div>
                        <div class="card-text">
                            <div class="form-group">
                                {{ form_label(form.trickCategory) }}
                                {{ form_widget(form.trickCategory) }}
                            </div>
                        </div>
                        <div class="card-text">
                            <div class="form-group">
                                {{ form_row(form.pictures) }}

                            </div>
                        </div>
                        <div class="card-text">
                            <div class="form-group">
                                {{ form_label(form.videos) }}
                                {{ form_widget(form.videos) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-dark">Ajouter</button>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>

{% endblock %}
