{% for comment in comments %}
    <li class="media mb-3">
        {% if comment.user.profilePicture.pathPicture %}
            <img src="{{ asset('uploads/pictures/'~comment.user.profilePicture.pathPicture) }}"
                 class="mr-3 rounded-circle embed-responsive" style="max-width: 65px;"
                 alt="photo de profile">
        {% else %}
            <img src="http://placehold.it/65X65"
                 class="mr-3 rounded-circle embed-responsive" style="max-width: 65px;"
                 alt="photo de profile default">
        {% endif %}
        <div class="media-body ">
            <div class="card">
                <div class="card-body">
                    {% if is_granted('DELETE_COMMENT', comment) %}
                        <a href="{{ path('delete_comment', {'id': comment.id}) }}"
                           class="float-right m-1 mb-2"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                    <h5 class="mt-0 mb-1 card-title">{{ comment.user.pseudo }}</h5>

                    <p class="card-text">{{ comment.content }}</p>

                    <span class="badge badge-secondary float-right">le {{ comment.dateCreation | date('d-m-Y') }}</span>
                    {% if comment.dateMaj %}
                        <span class="badge badge-success float-right">Editier le {{ comment.dateMaj | date('d-m-Y') }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </li>
{% endfor %}