{% for trick in tricks %}
    <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="{{ path('show', {'id': trick.id}) }}">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                    <i class="fas fa-plus fa-3x"></i>
                </div>
            </div>
            <img class="img-fluid" src="{{ asset('uploads/pictures/'~ trick.pictureDefault.name) }}" alt="">
        </a>
        <div class="portfolio-caption">
            <h6>{{ trick.name }}
                {% if is_granted('EDIT', trick) %}
                    <a href="{{ path('edit_trick', {'id': trick.id}) }}">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                {% endif %}
                {% if is_granted('DELETE', trick) %}
                    <a href="{{ path('delete_trick', {'id': trick.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                {% endif %}
            </h6>

        </div>
    </div>
{% endfor %}
