{% extends 'base.html.twig' %}

{% block title %}Snow Tricks {% endblock %}
{% block header %}
    <!-- Header -->



{% endblock %}

{% block content %}
    <section class="bg-light " id="portfolio">
        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 mb-5">
                        <header class="masthead card-img-top"
                                style=" background-image: url({{ asset('uploads/pictures/'~ trick.pictureDefault.name) }});">
                            {% if is_granted('DELETE', trick) %}
                                <a href="{{ path('delete_trick', {'id': trick.id}) }}">
                                    <button class="btn btn-danger float-right m-2">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', trick) %}
                                <a href="{{ path('edit_trick', {'id': trick.id}) }}">
                                    <button class="btn btn-warning float-right m-2 ">
                                        <i class="fas fa-pencil-alt  "></i>
                                    </button>
                                </a>
                            {% endif %}
                            <div class="intro-text">
                                <div class="intro-lead-in">{{ trick.name }}</div>
                            </div>
                        </header>
                    </div>
                </div>
                <div class="container">
                    <div class="row mb-5">
                        {% for picture in trick.pictures %}
                            <div class="col-md-3 col-sm-5 portfolio-item">
                                <a class="portfolio-link" data-toggle="modal"
                                   href="{{ asset('uploads/pictures/'~ picture.name) }}">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-hover-content">
                                            <i class="fas fa-plus fa-3x"></i>
                                        </div>
                                    </div>
                                    <img class="img-fluid" src="{{ asset('uploads/pictures/'~ picture.name) }}"
                                         alt="{{ picture.alt }}">
                                </a>
                            </div>
                        {% endfor %}
                        {% for video in trick.videos %}
                            <div class="col-md-3 col-sm-5">
                                {% if video.platform == false %}
                                    <iframe width="auto" height="auto"
                                            src="https://www.youtube.com/embed/{{ video.name }}"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                {% else %}
                                    <iframe frameborder="0" width="auto" height="auto"
                                            src="https://www.dailymotion.com/embed/video/{{ video.name }}"
                                            allowfullscreen allow="autoplay"></iframe>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                    <div class="row">

                        <div class="col-md-10 ml-auto mr-auto mb-5 ">
                            {% autoescape false %}
                                {{ trick.content }}
                            {% endautoescape %}
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-10 ml-auto mr-auto mb-5 text-center ">
                            <h5>
                                <span class="btn btn-outline-dark">Groupe de figure : {{ trick.trickCategory }}</span>
                            </h5>

                            <span class="btn btn-outline-primary btn-sm">Publié le : {{ trick.dateCreation | date('d-m-Y') }}</span>
                            {% if trick.dateMaj %}
                                <span class="btn btn-outline-success btn-sm">Mis à jour : {{ trick.dateMaj | date('d-m-Y') }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-md-8 ml-auto mr-auto mb-2">
                            <ul class="list-unstyled">
                                <li class="media mb-3">
                                    {% if app.user %}
                                    {% if app.user.profilePicture.pathPicture %}
                                        <img src="{{ asset('uploads/pictures/'~app.user.profilePicture.pathPicture) }}"
                                             class="mr-3 rounded-circle embed-responsive" style="max-width: 65px;"
                                             alt="...">
                                    {% else %}
                                        <img src="https://via.placeholder.com/65" class="mr-3 rounded-circle"
                                             alt="...">
                                    {% endif %}
                                    <div class="media-body ">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="mt-0 mb-1 card-title">{{ app.user.pseudo }}</h5>
                                                <div class="card-text">
                                                    <div class="form-group">
                                                        {{ form_start(form) }}
                                                        {{ form_widget(form) }}
                                                        <div class="form-group card-text">
                                                            <button type="submit" class="btn btn-outline-dark">Ajouter
                                                                votre
                                                                commentaire
                                                            </button>
                                                            {{ form_end(form) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                            <img src="https://via.placeholder.com/65" class="mr-3 rounded-circle"
                                                 alt="...">
                                            <div class="media-body ">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="mt-0 mb-1 card-title">Pseudo</h5>
                                                        <div class="card-text">
                                                            <p>Veuillez vous connecter pour laisser un commentaire
                                                                <a href="{{ path('app_login') }}">Se connecter</a> ou
                                                                <a href="{{ path('registration') }}">S'inscrire</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-8 ml-auto mr-auto mb-2">
                            <h4 class="text-center mb-4">Commentaires</h4>
                            <ul class="list-unstyled" id="block-comment">
                                {% for comment in comments %}
                                    <li class="media mb-3">
                                        {% if comment.user.profilePicture.pathPicture %}
                                            <img src="{{ asset('uploads/pictures/'~comment.user.profilePicture.pathPicture) }}"
                                                 class="mr-3 rounded-circle embed-responsive" style="max-width: 65px;"
                                                 alt="photo de profile">
                                        {% else %}
                                            <img src="http://placehold.it/65X65"
                                                 class="mr-3 rounded-circle embed-responsive" style="max-width: 65px;"
                                                 alt="photo de profile default">
                                        {% endif %}
                                        <div class="media-body ">
                                            <div class="card">
                                                <div class="card-body">
                                                    {% if is_granted('DELETE_COMMENT', comment) %}
                                                        <a href="{{ path('delete_comment', {'id': comment.id}) }}"
                                                           class="float-right m-1 mb-2"><i class="fas fa-trash-alt"></i></a>
                                                    {% endif %}
                                                    <h5 class="mt-0 mb-1 card-title">{{ comment.user.pseudo }}</h5>

                                                    <p class="card-text">{{ comment.content }}</p>

                                                    <span class="badge badge-secondary float-right">le {{ comment.dateCreation | date('d-m-Y') }}</span>
                                                    {% if comment.dateMaj %}
                                                        <span class="badge badge-success float-right">Editier le {{ comment.dateMaj | date('d-m-Y') }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                            <div class="row">
                                <a class="m-auto" id="loadMoreBTN">
                                    <button class="btn btn-primary ">Voir plus</button>
                                </a>
                            </div>
                            <a id="btn-up" href="#portfolio" class="btn btn-primary float-right js-scroll-trigger mr-4"><i
                                        class="fas fa-angle-double-up fa-2x"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        click = 0;
        $("#btn-up").hide();

        function loadMore(event) {
            event.preventDefault();
            click++;
            let comment = 15 * click;
            const url = "{{ path('load_more_comment', {'id':trick.id}) }}/" + comment;
            axios.get(url).then(function (response) {
                $("#block-comment").append(response.data);
                if (comment === 15) {
                    $("#btn-up").show();
                }
            }).catch(function (error) {
                console.log(error);
                if (error.response.status === 404) {
                    window.alert("Erreur ! la page demander n'existe pas.");
                } else {
                    window.alert("Alert une erreure c'est produite veuillez contacter le support !");
                }
            });
        }

        document.getElementById('loadMoreBTN').addEventListener('click', loadMore);
    </script>
{% endblock %}
