{% block menu %}
    <div class="col-md-3 col-sm-12 mb-3">
        <div class="list-group">
            <a href="{{ path('account') }}"
               class="list-group-item list-group-item-action {{ app.request.get('_route') == 'account' ? 'active' }}">
                Dashboard</a>
            <a href="{{ path('update_password') }}"
               class="list-group-item list-group-item-action {{ app.request.get('_route') == 'rest_password' ? 'active' }}">
                Mot de passe</a>
            {% if app.user.profilePicture.id %}
                <a href="{{ path('edit_picture_user' )}}"
                   class="list-group-item list-group-item-action {{ app.request.get('_route') == 'edit_picture_user' ? 'active' }}">
                    Photo profile</a>
            {% else %}
                <a href="{{ path('add_picture_user') }}"
                   class="list-group-item list-group-item-action {{ app.request.get('_route') == 'add_picture_user' ? 'active' }}">
                    Photo profile</a>
            {% endif %}
            <a href="{{ path('add_picture') }}"
               class="list-group-item list-group-item-action {{ app.request.get('_route') == 'add_picture' ? 'active' }}">
                Gérer images</a>
            <a href="{{ path('add_video') }}"
               class="list-group-item list-group-item-action {{ app.request.get('_route') == 'add_video' ? 'active' }}">
                Gérer vidéos</a>
            <a href="{{ path('add_trick') }}"
               class="list-group-item list-group-item-action {{ app.request.get('_route') == 'add_trick' ? 'active' }}">
                Ajouter trick</a>
            <a href="{{ path('delete_account', {'email': app.user.email}) }}"
               class="list-group-item list-group-item-action list-group-item-danger">
                Supprimer votre compte</a>
        </div>
    </div>
{% endblock %}