{% extends 'base.html.twig' %}
{% use '/account/_layout_menu.html.twig' %}

{% block title %}Snow Trick / Dashboard{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    <section class="bg-light " id="portfolio">

        <div class="container">
            <h2 class="text-center mb-5">Bonjour {{ app.user.pseudo }}</h2>

            <div class="row">
                <!-- <h3>Bienvenue sur le site Snow Trick, vous pouvez des a present publier votre 1er Trick</h3> -->
                {% block menu %}
                    {{ parent() }}
                {% endblock %}
                <div class="col-md-9 col-sm-12">

                    <div class="card">
                        <div class="media-body ">
                            <div class="card-body">
                                <div class="card-text mb-3">


                                    <h3 class="mb-5">Vos Figures en lignes :</h3>
                                    <div class="container mt-3" style="height:400pt;overflow:auto">
                                        <div class="row">

                                            {% for trick in tricks %}
                                                <div class="col-md-4 col-sm-5 mb-3">
                                                    <div class="card">
                                                        <a href="{{ path('show', {'id': trick.id}) }}">
                                                            <img class="card-img-top"
                                                                 src="{{ asset('uploads/pictures/'~ trick.pictureDefault.name) }}">
                                                        </a>
                                                        <div class="card-body">
                                                            <p>{{ trick.id }} : {{ trick.name }}</p>
                                                            <a href="{{ path('delete_trick', {'id': trick.id}) }}">
                                                                <button class="btn btn-danger float-right ml-2">
                                                                    <i class="fas fa-trash-alt"></i>
                                                                </button>
                                                            </a>
                                                            <a href="{{ path('edit_trick', {'id': trick.id}) }}">
                                                                <button class="btn btn-warning float-right ">
                                                                    <i class="fas fa-pencil-alt  "></i>
                                                                </button>
                                                            </a>

                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 mt-5">
                    <div class="card">
                        <div class="media-body ">
                            <div class="card-body">
                                <div class="card-text mb-3">
                                    <h3 class="mb-5">Vos commentaires :</h3>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">lien vers le trick</th>
                                            <th scope="col">date de création</th>
                                            <th scope="col">contenu</th>
                                            <th scope="col"><i class="fas fa-trash-alt"></i></th>

                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for comment in comments %}
                                            <tr>
                                                <th scope="row">
                                                    <a href="{{ path('show', {'id': comment.trick.id}) }}">{{ comment.trick.id }}</a>
                                                </th>
                                                <th>{{ comment.dateCreation | date('d-m-Y') }}</th>
                                                <th>{{ comment.content }}</th>
                                                <th>
                                                    <a href="{{ path('delete_comment', {'id': comment.id}) }}">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
