{% extends 'template.twig'%}
{% block title %}Espace utilisateur{% endblock %}
{% block content %}
<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <h1>Espace utilisateur</h1>
    <p><a href="index.php">Accueil</a></p>
  </div>
</header>
<section class="mb-0">
  <div class="container">
    <h3>Vos commentaires</h3>
    <table class="table">
      <thead>
        <tr>
          <td>Lien vers l'article</td>
          <td>Auteur</td>
          <td>Commantaire</td>
          <td>Etat</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        {% for data_comment in data_comments %}
        <tr>
          <td><a class="btn btn-primary" href="/article-{{data_comment.post_id}}">Lien</a></td>
          <td>{{data_comment.author}}</td>
          <td>{{data_comment.comment}}</td>
          <td>
            {% if data_comment.valid == 0 %}
            <div class="alert alert-warning" role="alert">
              En attente de validation
            </div>
            {% else %}
            <div class="alert alert-success" role="alert">
              Vaildé
            </div>
            {% endif %}
          </td>
          <td>
            <a class="btn btn-primary" href="/user-comment-{{data_comment.id}}"> Modifier </a>

            <form action="?action=delete" method="post">
              <input type="hidden" name="postId" value="{{data_comment.id}}">
              <button type="submit" class="btn btn-danger" href="">Supprimer</button>
            </form>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

</section>
{% endblock %}